.row {
    display: flex;
    flex: 1;
    /* gap: 5px; */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* gap: 5px; */
    /* padding: 50px; */
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d1d1d1;
}

.row div {
    flex: 1;
    min-width: 1px;
    min-height: 1px;
    background-color: #d1d1d1;
}

#hovering {
    background-color: #535353;
}

#grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}